@media only screen and (width >= 601px) {
  .app__container {
    &__container-title {
      padding-top: 100px;
      padding-left: 140px;
    }
    &__carousel {
      padding-left: 140px;
      &__product-card__product-image {
        width: 396px;
      }
    }
  }
}

@media only screen and (width <=600px) {
  .app__container {
    &__container-title {
      padding-top: 40px;
      padding-left: 35px;
    }
    &__carousel {
      padding-left: 35px;
      &__product-card__product-image {
        width: 287px;
      }
    }
  }
}
