@use "../_partials/variables" as *;

.app {
  display: flex;
  > * {
    display: inherit;
  }
  &__container {
    flex-direction: column;
    overflow-x: hidden;
    &__container-title {
      font-size: clamp(1.75rem, 1.6562rem + 0.382vw, 2rem);
      font-weight: 700;
    }
    &__carousel {
      display: flex;
      gap: 20px;
      padding-top: 20px;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      &__product-card {
        text-decoration: none;
        transition: $transition;
        &:hover {
          scale: 1.05;
          transition: $transition;
        }
        &__product-title {
          color: $black;
          font-size: 18px;
          font-weight: 500;
          text-decoration: none;
        }
        &__product-arrow-container {
          display: none;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: white;
          position: absolute;
          bottom: 54.25px;
          right: 30px;
          &__product-arrow {
            display: flex;
            height: 11.64px;
            width: 12.3px;
          }
        }
      }
    }
  }
}

.app__container__carousel__product-card:hover
  .app__container__carousel__product-card__product-arrow-container {
  display: flex;
}
